# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/
# A CODEOWNERS file uses a pattern that follows the same rules in gitignore files: https://git-scm.com/docs/gitignore#_pattern_format
# All groups must have Write permissions to the repo, even if all of the members already have Write permissions individually.

# The '*' pattern is for global owners.

# This line tags the dotnet-docs team for review, so nothing falls through the cracks.

*     @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Area owners of the dotnet/runtime repo: https://github.com/dotnet/runtime/blob/master/docs/area-owners.md

/xml/Microsoft.CSharp*/ @cston @333fred
/xml/Microsoft.Extensions.Http*/ @dotnet/ncl
/xml/Microsoft.VisualBasic*/ @cston @333fred
/xml/System.Activities*/ @dotnet/docs
/xml/System.AddIn*/ @dotnet/docs
/xml/System.ComponentModel.DataAnnotations*/ @ajcvickers
/xml/System.Data*/ @ajcvickers @david-engel @JRahnama
/xml/System.Data.Odbc/ @ajcvickers
/xml/System.Data.OleDb/ @ajcvickers
/xml/System.Data.SqlClient/ @david-engel @JRahnama
/xml/System.Deployment*/ @dotnet/docs
/xml/System.Device*/ @dotnet/docs
/xml/System.Dynamic*/ @dotnet/docs
/xml/System.EnterpriseServices*/ @dotnet/docs
/xml/System.IO.Pipelines*/ @halter73
/xml/System.IdentityModel*/ @dotnet/docs
/xml/System.Json*/ @dotnet/docs
/xml/System.Linq.Expressions*/ @cston @333fred
/xml/System.Media*/ @dotnet/docs
/xml/System.Messaging*/ @dotnet/docs
/xml/System.Net*/ @dotnet/ncl
/xml/System.Printing*/ @dotnet/docs
/xml/System.Runtime.Caching*/ @StephenMolloy @HongGit
/xml/System.Runtime.InteropServices*/ @AaronRobinsonMSFT @jkoritzinsky
/xml/System.Runtime.Serialization*/ @StephenMolloy @HongGit
/xml/System.ServiceModel*/ @HongGit @mconnew
/xml/System.ServiceModel.Syndication/ @StephenMolloy @HongGit
/xml/System.Speech*/ @dotnet/docs
/xml/System.Threading*/ @kouvel
/xml/System.Timers*/ @dotnet/docs
/xml/System.Transactions*/ @HongGit
/xml/System.Web*/ @rick-anderson
/xml/System.Windows*/ @dotnet/wpf-developers
/xml/System.Windows.Forms*/ @merriemcgaw @JeremyKuhne
/xml/System.Workflow*/ @dotnet/docs
/xml/System.Xaml*/ @dotnet/wpf-developers

# System.Uri
/xml/System/Uri.xml @dotnet/ncl
