# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/
# A CODEOWNERS file uses a pattern that follows the same rules in gitignore files: https://git-scm.com/docs/gitignore#_pattern_format
# All groups must have Write permissions to the repo, even if all of the members already have Write permissions individually.

# The '*' pattern is for global owners.

# This line tags the dotnet-docs team for review, so nothing falls through the cracks.

*     @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Area owners of the dotnet/runtime repo: https://github.com/dotnet/runtime/blob/master/docs/area-owners.md

/xml/Microsoft.CSharp*/ @cston @333fred
/xml/Microsoft.Extensions*/ @dotnet/area-Microsoft-Extensions
/xml/Microsoft.Extensions.DependencyModel*/ @dotnet/area-DependencyModel
/xml/Microsoft.Extensions.Caching*/ @dotnet/area-Extensions-Caching
/xml/Microsoft.Extensions.Configuration*/ @dotnet/area-Extensions-Configuration
/xml/Microsoft.Extensions.DependencyInjection*/ @dotnet/area-Extensions-DependencyInjection
/xml/Microsoft.Extensions.FileSystem*/ @dotnet/area-Extensions-FileSystem
/xml/Microsoft.Extensions.Hosting*/ @dotnet/area-Extensions-Hosting
/xml/Microsoft.Extensions.Http*/ @dotnet/ncl
/xml/Microsoft.Extensions.Logging*/ @dotnet/area-Extensions-Logging
/xml/Microsoft.Extensions.Options*/ @dotnet/area-Extensions-Options
/xml/Microsoft.Extensions.Primitives*/ @dotnet/area-Extensions-Primitives
/xml/Microsoft.VisualBasic*/ @cston @333fred
/xml/Microsoft.Win32*/ @dotnet/area-Microsoft-Win32
/xml/System.Activities*/ @dotnet/docs
/xml/System.AddIn*/ @dotnet/docs
/xml/System.Buffers*/ @dotnet/area-System-Buffers
/xml/System.CodeDom*/ @dotnet/area-System-CodeDom
/xml/System.Collections*/ @dotnet/area-System-Collections
/xml/System.ComponentModel*/ @dotnet/area-System-ComponentModel
/xml/System.ComponentModel.Composition*/ @dotnet/area-System-ComponentModel-Composition
/xml/System.ComponentModel.DataAnnotations*/ @lajones @ajcvickers
/xml/System.Composition*/ @dotnet/area-System-Composition
/xml/System.Configuration*/ @dotnet/area-System-Configuration
/xml/System.Data*/ @ajcvickers @cheenamalhotra @david-engel
/xml/System.Data.Odbc/ @ajcvickers
/xml/System.Data.OleDb/ @ajcvickers
/xml/System.Data.SqlClient/ @cheenamalhotra @david-engel @karinazhou @JRahnama
/xml/System.Deployment*/ @dotnet/docs
/xml/System.Device*/ @dotnet/docs
/xml/System.Diagnostics*/ @tommcdon @Anipik @ViktorHofer
/xml/System.Diagnostics/Activity*.xml @tarekgh
/xml/System.Diagnostics/Boolean*.xml @dotnet/area-System-Diagnostics-PerformanceCounter
/xml/System.Diagnostics/Counter*.xml @dotnet/area-System-Diagnostics-PerformanceCounter
/xml/System.Diagnostics/Correlation*.xml @dotnet/area-System-Diagnostics-TraceSource
/xml/System.Diagnostics/Event*.xml @dotnet/area-System-Diagnostics-EventLog
/xml/System.Diagnostics/EventTypeFilter.xml @dotnet/area-System-Diagnostics-PerformanceCounter
/xml/System.Diagnostics/ICollect*.xml @dotnet/area-System-Diagnostics-PerformanceCounter
/xml/System.Diagnostics/InstanceData*.xml @dotnet/area-System-Diagnostics-PerformanceCounter
/xml/System.Diagnostics/PerformanceCounter*.xml @dotnet/area-System-Diagnostics-PerformanceCounter
/xml/System.Diagnostics/Process*.xml @dotnet/area-System-Diagnostics-Process
/xml/System.Diagnostics/Source*.xml @dotnet/area-System-Diagnostics-TraceSource
/xml/System.Diagnostics/Switch*.xml @dotnet/area-System-Diagnostics-TraceSource
/xml/System.Diagnostics/*Trace*.xml @dotnet/area-System-Diagnostics-TraceSource
/xml/System.Diagnostics.PerformanceData/ @dotnet/area-System-Diagnostics-PerformanceCounter
/xml/System.Diagnostics.Eventing.Reader/ @dotnet/area-System-Diagnostics-EventLog
/xml/System.Diagnostics.Tracing/ @noahfalk @tommcdon @Anipik @ViktorHofer @tarekgh
/xml/System.DirectoryServices*/ @dotnet/area-System-DirectoryServices
/xml/System.Drawing*/ @dotnet/area-System-Drawing
/xml/System.Dynamic*/ @dotnet/docs
/xml/System.EnterpriseServices*/ @dotnet/docs
/xml/System.Formats.Asn1/* @dotnet/area-System-Formats-Asn1
/xml/System.Formats.Cbor/* @dotnet/area-System-Formats-Cbor
/xml/System.Globalization*/ @dotnet/area-System-Globalization
/xml/System.IO*/ @dotnet/area-System-IO
/xml/System.IO.Compression*/ @dotnet/area-System-IO-Compression
/xml/System.IO.Pipelines*/ @davidfowl @halter73 @jkotalik
/xml/System.IdentityModel*/ @dotnet/docs
/xml/System.Json*/ @dotnet/docs
/xml/System.Linq*/ @dotnet/area-System-Linq
/xml/System.Linq.Expressions*/ @cston @333fred
/xml/System.Linq/Parallel*.xml @dotnet/area-System-Linq-Parallel
/xml/System.Management*/ @dotnet/area-System-Management
/xml/System.Media*/ @dotnet/docs
/xml/System.Messaging*/ @dotnet/docs
/xml/System.Net*/ @dotnet/ncl
/xml/System.Numerics*/ @dotnet/area-System-Numerics
/xml/System.Printing*/ @dotnet/docs
/xml/System.Reflection*/ @dotnet/area-System-Reflection
/xml/System.Reflection.Emit*/ @dotnet/area-System-Reflection-Emit
/xml/System.Reflection.Metadata*/ @dotnet/area-System-Reflection-Metadata
/xml/System.Resources*/ @dotnet/area-System-Resources
/xml/System.Runtime*/ @dotnet/area-System-Runtime
/xml/System.Runtime.Caching*/ @StephenMolloy @HongGit
/xml/System.Runtime.CompilerServices*/ @dotnet/area-System-Runtime-CompilerServices
/xml/System.Runtime.InteropServices*/ @AaronRobinsonMSFT @jkoritzinsky
/xml/System.Runtime.Intrinsics*/ @dotnet/area-System-Runtime-Intrinsics
/xml/System.Runtime.Serialization*/ @StephenMolloy @HongGit
/xml/System.Runtime.Serialization.Formatters/ @pgovind @tannergooding
/xml/System.Security*/ @dotnet/area-System-Security
/xml/System.ServiceModel*/ @HongGit @mconnew
/xml/System.ServiceModel.Syndication/ @StephenMolloy @HongGit
/xml/System.ServiceProcess*/ @dotnet/area-System-ServiceProcess
/xml/System.Speech*/ @dotnet/docs
/xml/System.Text*/  @GrabYourPitchforks @tarekgh
/xml/System.Text/Encoding*.xml @dotnet/area-System-Text-Encoding
/xml/System.Text.Encodings.Web*/ @dotnet/area-System-Text-Encodings-Web
/xml/System.Text.Json*/ @dotnet/area-System-Text-Json
/xml/System.Text.RegularExpressions*/ @dotnet/area-System-Text-RegularExpressions
/xml/System.Threading*/ @kouvel
/xml/System.Threading.Channels*/ @dotnet/area-System-Threading-Channels
/xml/System.Threading.Tasks*/ @dotnet/area-System-Threading-Tasks
/xml/System.Timers*/ @dotnet/docs
/xml/System.Transactions*/ @HongGit
/xml/System.Web*/ @rick-anderson
/xml/System.Windows*/ @dotnet/wpf-developers
/xml/System.Windows.Forms*/ @RussKie @merriemcgaw
/xml/System.Workflow*/ @dotnet/docs
/xml/System.Xaml*/ @dotnet/wpf-developers
/xml/System.Xml*/ @dotnet/area-System-Xml

# System.Console
/xml/System/Console* @dotnet/area-System-Console

# System.Memory
/xml/System/Memory*.xml @dotnet/area-System-Memory
/xml/System/ReadOnlyMemory*.xml @dotnet/area-System-Memory
/xml/System/ReadOnlySpan*.xml @dotnet/area-System-Memory
/xml/System/Span*.xml @dotnet/area-System-Memory

# System.Array
/xml/System/Array.xml @pgovind @tannergooding

# System.Uri
/xml/System/Uri.xml @dotnet/ncl
